// Your custom variables
$font: 'Roboto', sans-serif;
$font2: 'Poppins', sans-serif;
$themefont: $font;
$primaryColor: #fbceb1;
$secondaryColor: #fdb324;
$secondaryColorH: #eaa51e;
$bgcolor:#f6ebea;
$blueColor:#408fa8;
$orangeColor:#f6c25d;