.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: none;

  .navbar-brand{
    img{
      max-width: 200px;
    }
  }

  .nav-item{
    .nav-link{
      font-weight: 500;
    }
  }
}
