// Your custom styles
@import './mixins';

@import "./color.scss";

body {
  font-family: $themefont;
  color:#000;
}

.font2{
  font-family: $font2 !important;
}

strong {
  font-weight: bold;
}

.font-weight-bolder{
font-weight:900 !important;
}

h2 {
  font-family: $themefont;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

h4 {
  font-family: $themefont;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

h5 {
  font-family: $themefont;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
}

/* Header Start */
@import './header';
/* Header end */



/*Home start*/
.blog-box, .banner-top, .secondsection{
  h1{
    font-size: 66px;
    font-weight: bold;
  }

  h2{
    font-size: 46px;
    font-weight: 500;
  }

  h3{
    font-size: 36px;
    font-weight: 500;
  }

  h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
}


.banner-top{
  background-size: cover;
  background-position: center center;
  padding: 300px 0;
  position: relative;
  color:#fff;

  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    left:0;
    top:0;
    background: linear-gradient(#430c04,150px,transparent);
    background-color: #430c04;
    opacity: .2;
  }

  >*{
    position: relative;
  }

  h1{
    font-weight: 400;
    margin-bottom: 70px;
  }


  h4{
    text-align: center;
    max-width: 500px;
    margin-left: auto;
  }

  .block-content{
    max-width: 608px;
    margin-left: auto;
  }
}

.secondsection{
  background-color: #f6ebea;
  padding: 90px 0;
  font-size: 17px;
}

.image-cover{
object-fit: cover;
}

.products{
  text-align: center;
  .image-cover{
    max-height: 400px;
  }

  .product-title{
    font-family: $font2;
    font-size: 22px;
    display: block;
    color: #000;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .product-price{
    font-family: $font2;
    font-size: 18px;
  }
}


.btn-pricing {
  font-family: $font2;
  color: #fff;
  background-color: #430c04;
  border-color: #430c04;
  padding: 20px 25px;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  &:hover{
    color:#fff;
    opacity: 0.8;
  }
}

.blog-box{
  background-color: #f6ebea;
}

/*Home End*/

/* wrapper start */
.main-wrapper {
  background-color: $bgcolor !important;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .progress {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff5ef;
    border-radius: 0;
    z-index: 9999;

    .progress-bar {
      background-color:#f6c25d;
    }
  }

  .wrapper {
    background-color: #fff5ef;
    position: relative;
    padding: 30px 150px;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    border-radius: 52px;

    .btn1 {
      display: inline-block;
      outline: 0;
      padding: 14px 40px;
      font-family: $themefont;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      position: absolute;
      top: 34px;
      left: 20px;
      border-radius: 52px;
    }

    .btn2 {
      display: inline-block;
      font-family: $themefont;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      border: 0;
      line-height: 42px;
      border-radius: 52px;
      padding: 15px 50px;
      color: #000 !important;
    }

    &::before {
      content: '';
      background-image: url('../img/apricotlogo.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      height: 100px;
      width: 160px;
      position: absolute;
      right: 21px;
      top: 15px;
    }

    .box {
      padding: 30px;
      border-radius: 52px;
      background-color: $bgcolor !important;

      .form-wrapper {
        margin: auto;
        max-width: 625px;

        &.form-wrapper1 {
          max-width: 650px;
        }

        .form-control {
          font-family: 'Roboto', sans-serif;
          color: #838383;
          font-style: normal;
          font-weight: bold;
          background-color: #0000000f;
          border-radius: 52px;
          padding: 20px 25px;
          border: 0;
          font-size: 24px;
          line-height: 28px;
          height: auto;
          margin-bottom: 30px;

          &.form-control1 {
            padding: 10px 25px !important;
            margin-bottom: 15px;
          }
        }

        .submit-btn {
          display: inline-block;
          font-family: $themefont;
          outline: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 28px;
          border: 0;
          padding: 7px 45px;
          border-radius: 52px;
        }
      }
    }
  }
}
/* wrapper end */


/*Menu */
.menu{
.nav-link{
  color:#000 !important;
  font-weight: 500 !important;
  &:hover{
    color: $blueColor !important;
  }
}
}
/*Menu */



/*Footer start */
.main-footer{
  background-color: #000;
  .logo{
    max-width: 170px;
  }
}
/* Footer end */