.bg-primary {
  background-color: #fbceb1 !important;
}

.bg-success,
.btn-success {
  background-color: #659952 !important;
}

.bg-secondary,
.btn-secondary {
  background-color: #fdb324 !important;
}

.btn-secondary {
  color: #fff;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #eaa51e !important;
}

.btn-blue {
  background-color: #408fa8 !important;
  color: #fff !important;
}

.btn-blue:hover {
  background-color: #3c6e86 !important;
  color: #fff !important;
}

.btn-success {
  color: #fff !important;
}

.btn-success:hover {
  background-color: #477d33 !important;
  color: #fff !important;
}

.btn-danger {
  background-color: #c75e5e !important;
}

.btn-danger:hover {
  background-color: #a93f3f !important;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.font2 {
  font-family: "Poppins", sans-serif !important;
}

strong {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: 900 !important;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 23px;
}

/* Header Start */

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  box-shadow: none;
}

.main-header .navbar-brand img {
  max-width: 200px;
}

.main-header .nav-item .nav-link {
  font-weight: 500;
}

/* Header end */

/*Home start*/

.blog-box h1,
.banner-top h1,
.secondsection h1 {
  font-size: 66px;
  font-weight: bold;
}

.blog-box h2,
.banner-top h2,
.secondsection h2 {
  font-size: 46px;
  font-weight: 500;
}

.blog-box h3,
.banner-top h3,
.secondsection h3 {
  font-size: 36px;
  font-weight: 500;
}

.blog-box h4,
.banner-top h4,
.secondsection h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.banner-top {
  background-size: cover;
  background-position: center center;
  padding: 300px 0;
  position: relative;
  color: #fff;
}

.banner-top::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(#430c04, 150px, transparent);
  background-color: #430c04;
  opacity: 0.2;
}

.banner-top > * {
  position: relative;
}

.banner-top h1 {
  font-weight: 400;
  margin-bottom: 70px;
}

.banner-top h4 {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
}

.banner-top .block-content {
  max-width: 608px;
  margin-left: auto;
}

.secondsection {
  background-color: #f6ebea;
  padding: 90px 0;
  font-size: 17px;
}

.image-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.products {
  text-align: center;
}

.products .image-cover {
  max-height: 400px;
}

.products .product-title {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  display: block;
  color: #000;
  margin-top: 15px;
  margin-bottom: 10px;
}

.products .product-price {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.btn-pricing {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #430c04;
  border-color: #430c04;
  padding: 20px 25px;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
}

.btn-pricing:hover {
  color: #fff;
  opacity: 0.8;
}

.blog-box {
  background-color: #f6ebea;
}

/*Home End*/

/* wrapper start */

.main-wrapper {
  background-color: #f6ebea !important;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-wrapper .progress {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff5ef;
  border-radius: 0;
  z-index: 9999;
}

.main-wrapper .progress .progress-bar {
  background-color: #f6c25d;
}

.main-wrapper .wrapper {
  background-color: #fff5ef;
  position: relative;
  padding: 30px 150px;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  border-radius: 52px;
}

.main-wrapper .wrapper .btn1 {
  display: inline-block;
  outline: 0;
  padding: 14px 40px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  top: 34px;
  left: 20px;
  border-radius: 52px;
}

.main-wrapper .wrapper .btn2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  border: 0;
  line-height: 42px;
  border-radius: 52px;
  padding: 15px 50px;
  color: #000 !important;
}

.main-wrapper .wrapper::before {
  content: "";
  background-image: url(../images/apricotlogo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 160px;
  position: absolute;
  right: 21px;
  top: 15px;
}

.main-wrapper .wrapper .box {
  padding: 30px;
  border-radius: 52px;
  background-color: #f6ebea !important;
}

.main-wrapper .wrapper .box .form-wrapper {
  margin: auto;
  max-width: 625px;
}

.main-wrapper .wrapper .box .form-wrapper.form-wrapper1 {
  max-width: 650px;
}

.main-wrapper .wrapper .box .form-wrapper .form-control {
  font-family: "Roboto", sans-serif;
  color: #838383;
  font-style: normal;
  font-weight: bold;
  background-color: #0000000f;
  border-radius: 52px;
  padding: 20px 25px;
  border: 0;
  font-size: 24px;
  line-height: 28px;
  height: auto;
  margin-bottom: 30px;
}

.main-wrapper .wrapper .box .form-wrapper .form-control.form-control1 {
  padding: 10px 25px !important;
  margin-bottom: 15px;
}

.main-wrapper .wrapper .box .form-wrapper .submit-btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  outline: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  border: 0;
  padding: 7px 45px;
  border-radius: 52px;
}

/* wrapper end */

/*Menu */

.menu .nav-link {
  color: #000 !important;
  font-weight: 500 !important;
}

.menu .nav-link:hover {
  color: #408fa8 !important;
}

/*Menu */

/*Footer start */

.main-footer {
  background-color: #000;
}

.main-footer .logo {
  max-width: 170px;
}

/* Footer end */

